---
title: "{{title}}"
description: "{{description}}"
---

# {{title}}

{{overview}}

## Configuration Example

```yaml tab="File (YAML)"
{{yaml_example}}
```

## Configuration Options

{{configuration}}
